
@import "tailwindcss";

/* Base body styles */
body {
  @apply bg-gray-100 font-[Poppins];
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom styles for title spacing */
.title-subtitle-container h1 + p {
  margin-top: 0.10rem !important;
}
